<article class="about">
   <div class="about__container _container">
      <div class="about__item">
         <div class="about__itemImage">
            <span></span>
            <p></p>
         </div>
         <div class="about__itemContent">
            <div class="about__itemSubitle">ABOUT US</div>
            <div class="about__itemTitle">Interioris The Will
               of An Epoch Mextreo</div>
            <div class="about__itemAbout">There are many variations of passages of Lorem Ipsum available,
               but the majority have suffered alteration in some form injected
               humour, or randomised words which don't look even slightly
               believable.If you are going to use a passage of Lorem Ipsum,
               sure there isn't anything embarrassing hidden the middleof text.
               All the Lorem Ipsum generators on the Internettend to repeat
               predefined chunks as necessary,making this the first true
               generator on the Internet.</div>
            <a href="#" class="about__itemLink">LEARN MORE</a>
         </div>
      </div>
      <div class="about__item">
         <div class="about__itemImage">
            <span></span>
            <p></p>
         </div>
         <div class="about__itemContent">
            <div class="about__itemSubitle big">20</div>
            <div class="about__itemTitle big">Years Of Successful
               Working
               The Market</div>
            <a href="#" class="about__itemLink">READ MORE</a>
         </div>
      </div>
   </div>
</article>