<article class="blog">
   <div class="blog__container _container">
      <div class="blog__subtitle">LETEST NEWS</div>
      <div class="blog__title">From Our Blog</div>
      <div class="blog__content">
         <div class="blog__item">
            <div class="blog__itemImage">
               <span style="--bg:url(../images/blog1.avif)"></span>
               <p></p>
            </div>
            <div class="blog__itemContent">
               <div class="blog__itemTitle">2020 Interior Design Trends</div>
               <div class="blog__itemDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  incididunt ut labore et dolore magna aliqua.</div>
               <a href="" class="blog__itemButton">CONTINUE READING....</a>
            </div>
         </div>
         <div class="blog__item">
            <div class="blog__itemImage">
               <span style="--bg:url(../images/blog2.avif)"></span>
               <p></p>
            </div>
            <div class="blog__itemContent">
               <div class="blog__itemTitle">28 Notable Product at ARC Interior Design</div>
               <div class="blog__itemDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  incididunt ut labore et dolore magna aliqua.</div>
               <a href="" class="blog__itemButton">CONTINUE READING....</a>
            </div>
         </div>
      </div>
   </div>
</article>