<article class="feedback">
   <div class="feedback__container _container">
      <div class="feedback__subtitle">TESTIMONIALS</div>
      <div class="feedback__title">Client says about us</div>
      <div class="feedback__content">
         <div class="feedback__buttons">
            <button class="feedback__prev">&lt;</button>
            <button class="feedback__next">&gt;</button>
         </div>
         <div class="feedback__slider">
            <div class="feedback__line">
               <div class="feedback__item">
                  <div class="feedback__itemImage" style="--bg:url(../images/feedback1.avif)"></div>
                  <div class="feedback__itemContent">
                     <div class="feedback__itemName">Louis Saville <span>/CEO at Google inc</span></div>
                     <div class="feedback__itemAbout">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua.</div>
                     <div class="feedback__itemQuotes">
                        <picture>
                           <source type="image/avif" srcset="./images/quotes.avif" />
                           <source type="image/webp" srcset="./images/quotes.webp" />
                           <img src="./images/quotes.png">
                        </picture>
                     </div>
                  </div>
               </div>
               <div class="feedback__item">
                  <div class="feedback__itemImage" style="--bg:url(../images/feedback2.avif)"></div>
                  <div class="feedback__itemContent">
                     <div class="feedback__itemName">Rekha Varadwaz <span>/Manager at Nike inc</span></div>
                     <div class="feedback__itemAbout">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua.</div>
                     <div class="feedback__itemQuotes">
                        <picture>
                           <source type="image/avif" srcset="./images/quotes.avif" />
                           <source type="image/webp" srcset="./images/quotes.webp" />
                           <img src="./images/quotes.png">
                        </picture>
                     </div>
                  </div>
               </div>
               <div class="feedback__item">
                  <div class="feedback__itemImage" style="--bg:url(../images/feedback1.avif)"></div>
                  <div class="feedback__itemContent">
                     <div class="feedback__itemName">Louis Saville <span>/CEO at Google inc</span></div>
                     <div class="feedback__itemAbout">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua.</div>
                     <div class="feedback__itemQuotes">
                        <picture>
                           <source type="image/avif" srcset="./images/quotes.avif" />
                           <source type="image/webp" srcset="./images/quotes.webp" />
                           <img src="./images/quotes.png">
                        </picture>
                     </div>
                  </div>
               </div>
               <div class="feedback__item">
                  <div class="feedback__itemImage" style="--bg:url(../images/feedback2.avif)"></div>
                  <div class="feedback__itemContent">
                     <div class="feedback__itemName">Rekha Varadwaz <span>/Manager at Nike inc</span></div>
                     <div class="feedback__itemAbout">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua.</div>
                     <div class="feedback__itemQuotes">
                        <picture>
                           <source type="image/avif" srcset="./images/quotes.avif" />
                           <source type="image/webp" srcset="./images/quotes.webp" />
                           <img src="./images/quotes.png">
                        </picture>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
</article>