<footer class="footer">
   <div class="footer__container _container">
      <div class="footer__logo">
         <div class="footer__logoImage">
            <picture>
               <source type="image/avif" srcset="./images/logo.avif" />
               <source type="image/webp" srcset="./images/logo.webp" />
               <img src="./images/logo.png">
            </picture>
         </div>
         <div class="footer__logoText">
            But i must explain to you all this mistaken
            idea of dencouncing pleasure.
         </div>
      </div>
      <div class="footer__nav">
         <div class="footer__list">
            <a href="" class="footer__listTitle">Quick Links</a>
            <a href="" class="footer__listItem">About Our Company</a>
            <a href="" class="footer__listItem">Services WE provide</a>
            <a href="" class="footer__listItem">Career & Opportunity</a>
            <a href="" class="footer__listItem">Privacy & policy</a>
            <a href="" class="footer__listItem">Contact US</a>
         </div>
         <div class="footer__list">
            <a href="" class="footer__listTitle">Company</a>
            <a href="" class="footer__listItem">About Company</a>
            <a href="" class="footer__listItem">Our Testimonials</a>
            <a href="" class="footer__listItem">Latest News</a>
            <a href="" class="footer__listItem">Our misson</a>
            <a href="" class="footer__listItem">Get a free Quot</a>
         </div>
         <div class="footer__list">
            <a href="" class="footer__listTitle">Contact us</a>
            <a href="" class="footer__listItem">Sagrada Familia, Herba</a>
            <a href="" class="footer__listItem">Street Front USA</a>
            <a href="" class="footer__listItem">brandoxide@gmail.com</a>
            <a href="" class="footer__listItem">002-568423591</a>
         </div>
         <div class="footer__list">
            <a href="" class="footer__listTitle">Follow Us</a>
            <div class="footer__links">
               <a href="">
                  <picture>
                     <source type="image/avif" srcset="./images/facebook.avif" />
                     <source type="image/webp" srcset="./images/facebook.webp" />
                     <img src="./images/facebook.png">
                  </picture>
               </a>
               <a href="">
                  <picture>
                     <source type="image/avif" srcset="./images/twitter.avif" />
                     <source type="image/webp" srcset="./images/twitter.webp" />
                     <img src="./images/twitter.png">
                  </picture>
               </a>
               <a href="">
                  <picture>
                     <source type="image/avif" srcset="./images/instagram.avif" />
                     <source type="image/webp" srcset="./images/instagram.webp" />
                     <img src="./images/instagram.png">
                  </picture>
               </a>
               <a href="">
                  <picture>
                     <source type="image/avif" srcset="./images/in.avif" />
                     <source type="image/webp" srcset="./images/in.webp" />
                     <img src="./images/in.png">
                  </picture>
               </a>
            </div>
         </div>
      </div>
   </div>
   <div class="footer__copyright">Copyright @ 2020 <a href="">Brandoxide</a>.all right reserved.</div>
</footer>
<script src="./js/dist/main.min.js"></script>

</html>