<article class="form">
   <div class="form__container _container">
      <div class="form__content">
         <div class="form__title">DON’T FORGET TO SIGN UP</div>
         <div class="form__line"></div>
         <div class="form__desc">Find out early about all upcoming promotions and new product releases with
            our newsletter.</div>
         <div class="form__form">
            <input type="text" placeholder="Enter your email address....." class="form__input">
            <button class="form__button">SUBSCRIBE</button>
         </div>
      </div>
   </div>
</article>