<header class="header">
   <div class="header__container _container">
      <div class="header__logo">
         <picture>
            <source type="image/avif" srcset="./images/logo.avif" />
            <source type="image/webp" srcset="./images/logo.webp" />
            <img src="./images/logo.png">
         </picture>
      </div>
      <div class="header__content">
         <nav class="header__nav">
            <a href="#" class="header__link">Home</a>
            <a href="#" class="header__link">Project</a>
            <a href="#" class="header__link">Services</a>
            <a href="#" class="header__link">About</a>
            <a href="#" class="header__link">Blog</a>
            <a href="#" class="header__link">Shop</a>
            <a href="#" class="header__link">Contact</a>
         </nav>
         <a href="#" class="header__button">Sign Up</a>
      </div>
   </div>
</header>