<article class="main">
   <div class="main__container _container">
      <div class="main__content">
         <div class="main__subtitle">MODERN INTERIOR</div>
         <div class="main__title">Create Your
            Interior Design.</div>
         <div class="main__about">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation.</div>
         <a href="#" class="main__button">CONTACT</a>
      </div>
      <div class="main__img">
         <span></span>
         <p></p>
      </div>
   </div>
</article>