<article class="service">
   <div class="service__container _container">
      <div class="service__title">WHAT WE DO</div>
      <div class="service__subtitle">
         <p>Our Service</p>
         <div class="service__buttons">
            <button class="service__prev">&lt;</button>
            <button class="service__next">&gt;</button>
         </div>
      </div>
      <div class="service__content">
         <div class="service__line">
            <div class="service__item">
               <div class="service__itemIcon">
                  <picture>
                     <source type="image/avif" srcset="./images/sofa.avif" />
                     <source type="image/webp" srcset="./images/sofa.webp" />
                     <img src="./images/sofa.png">
                  </picture>
               </div>
               <div class="service__itemContent">
                  <div class="service__itemTItle">Interior Design</div>
                  <div class="service__itemAbout">Lorem ipsum dolor amet consectetur
                     adipiscing elit sed eiusmod tempor
                     incididunt ut labore.</div>
               </div>
            </div>
            <div class="service__item alt">
               <div class="service__itemIcon">
                  <picture>
                     <source type="image/avif" srcset="./images/plan.avif" />
                     <source type="image/webp" srcset="./images/plan.webp" />
                     <img src="./images/plan.png">
                  </picture>
               </div>
               <div class="service__itemContent">
                  <div class="service__itemTItle alt">Architecture</div>
                  <div class="service__itemAbout alt">Lorem ipsum dolor amet consectetur
                     adipiscing elit sed eiusmod tempor
                     incididunt ut labore.</div>
               </div>
            </div>
            <div class="service__item">
               <div class="service__itemIcon">
                  <picture>
                     <source type="image/avif" srcset="./images/desk.avif" />
                     <source type="image/webp" srcset="./images/desk.webp" />
                     <img src="./images/desk.png">
                  </picture>
               </div>
               <div class="service__itemContent">
                  <div class="service__itemTItle">Planning</div>
                  <div class="service__itemAbout">Lorem ipsum dolor amet consectetur
                     adipiscing elit sed eiusmod tempor
                     incididunt ut labore.</div>
               </div>
            </div>
            <div class="service__item alt">
               <div class="service__itemIcon">
                  <picture>
                     <source type="image/avif" srcset="./images/plan.avif" />
                     <source type="image/webp" srcset="./images/plan.webp" />
                     <img src="./images/plan.png">
                  </picture>
               </div>
               <div class="service__itemContent">
                  <div class="service__itemTItle alt">Architecture</div>
                  <div class="service__itemAbout alt">Lorem ipsum dolor amet consectetur
                     adipiscing elit sed eiusmod tempor
                     incididunt ut labore.</div>
               </div>
            </div>
            <div class="service__item">
               <div class="service__itemIcon">
                  <picture>
                     <source type="image/avif" srcset="./images/desk.avif" />
                     <source type="image/webp" srcset="./images/desk.webp" />
                     <img src="./images/desk.png">
                  </picture>
               </div>
               <div class="service__itemContent">
                  <div class="service__itemTItle">Planning</div>
                  <div class="service__itemAbout">Lorem ipsum dolor amet consectetur
                     adipiscing elit sed eiusmod tempor
                     incididunt ut labore.</div>
               </div>
            </div>
            <div class="service__item alt">
               <div class="service__itemIcon">
                  <picture>
                     <source type="image/avif" srcset="./images/plan.avif" />
                     <source type="image/webp" srcset="./images/plan.webp" />
                     <img src="./images/plan.png">
                  </picture>
               </div>
               <div class="service__itemContent">
                  <div class="service__itemTItle alt">Architecture</div>
                  <div class="service__itemAbout alt">Lorem ipsum dolor amet consectetur
                     adipiscing elit sed eiusmod tempor
                     incididunt ut labore.</div>
               </div>
            </div>
            <div class="service__item">
               <div class="service__itemIcon">
                  <picture>
                     <source type="image/avif" srcset="./images/desk.avif" />
                     <source type="image/webp" srcset="./images/desk.webp" />
                     <img src="./images/desk.png">
                  </picture>
               </div>
               <div class="service__itemContent">
                  <div class="service__itemTItle">Planning</div>
                  <div class="service__itemAbout">Lorem ipsum dolor amet consectetur
                     adipiscing elit sed eiusmod tempor
                     incididunt ut labore.</div>
               </div>
            </div>
         </div>
      </div>
</article>